<% if comment.user %>
<p>
  <strong>Commenter:</strong>
  <%= comment.user.name %>
</p>
<% end %>

<p>
  <strong>Comment:</strong>
  <%= comment.body %>
</p>

<% if user_signed_in? %>
  <p>
    <%= link_to 'Destroy Comment', [comment.post, comment], :confirm => 'Are you sure?', :method => :delete %>
  </p>
<% end %>