<h1>Users</h1>

<ol>
<% @users.each do |user| %>
  <li>
    <h2><%= user.email %></h2>
    <p><%= user.updated_at %></p>
    <%= link_to 'Show', user %>
    <% if true || current_user.access == 'super' %> 
    <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  </li>
<% end %>
</ol>