<h1>Usuarios</h1>

<ol>
<% @users.each do |user| %>
  <li>
    <h2><%= user.email %></h2>
    <p><%= user.updated_at %></p>
    <% if current_user.try(:admin?) %>
      <% if true || current_user.access == 'super' %> 
      <%= link_to 'Destruir', user, method: :delete, data: { confirm: '¿Estas seguro?' } %>
      <% end %>
    <% end %>
  </li>
<% end %>
</ol>