
<section>
  <div class="tag_cloud">
  <h1><%= t('tags.title') %></h1>
  <% tag_cloud Post.tag_counts, %w{s m l} do |tag, css_class| %>
    <% if Post.tagged_with(tag.name).where("published = ?", true).length > 0 %>
      <%= link_to tag.name, tag_path(tag.name), class: css_class %>
    <% end %>
  <% end %>
  </div>
</section>