/*****************
 * mexican fruit *
 *****************/

$raisin: #541E35;
$pumpkin: #DF5D2E;
$mango: #FFB43E;
$pistachio: #A4C972;
$knock: #6BB38E;

 /********************
 * let them eat cake *
 *********************/

 $banquette: #774F38;
 $strawberry: #E08E79;
 $creme: #F1D4AF;
 $powderpuff: ECE5CE;
 $charlotte: C5E0DC;
