<p>¡Hola <%= @resource.email %>!</p>

<p>Tu cuenta ha sido bloqueada debido a una excesiva cantidad intentos de entrar.</p>

<p>Haz clic en el enlace de abajo para desbloquear tu cuenta:</p>

<p><%= link_to 'Desbloquear mi cuenta', unlock_url(@resource, :unlock_token => @resource.unlock_token) %></p>
